* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none;
	color: #e5e7eb
}

.header {
    background-color: #1F2937;
    color: #e5e7eb;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.nav-bar {
	display: flex;
	width: 1100px;
	justify-content: space-between;
	/*border: 1px solid white;*/
	padding: 10px 0;
	align-items: flex-end;
	margin-bottom: 16px;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;
}

.links {
	display: flex;
	gap: 20px;
}

.header-content {
	display: flex;
	width: 1100px;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.header-content-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	padding-right: 40px;
}

.header-content-title {
	font-size: 48px;
	font-weight: bolder;
}

.header-content-main {
	font-size: 20px;
	color: #e5e7eb;
}

.sign-up {
	width: 10vw;
	height: 5vh;
	margin: 10px;
	margin-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4E7FED;
	border: #4E7FED;
	border-radius: 7px;
	font-size: 17px;
	color: white;
}



.header-content-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6d737b;
	padding: 40px;
	flex: 1;
	height: 30vh;
}


.footer {
    flex: 0;
    flex-shrink: 0;
    justify-self: flex-end;
    background-color: rgb(38, 44, 56);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.box-title {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.box {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
}

.box-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 150px;
}

.box-entity {
	border: 3px solid #4E7FED;
	width: 150px;
	height: 150px;
	border-radius: 30px;
}

.quote-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E4E6E9;
	padding: 100px;
}

.quote {
	font-size: 36px;
	width: 760px;
	color: #1f2937;
	font-weight: lighter;
	font-style: italic;
}

.quote-person-container {
	display: flex;
	width: 740px;
	justify-content: flex-end;
}

.quote-person {
	font-weight: bold;
}

.subscribe-box-container {
	flex: 1;
	display: flex;
	justify-content: center;
}

.subscribe-box {
	display: flex;
	justify-content: space-around;
	width: 1100px;
	margin: 100px;
	background-color: #3882f6;
	padding: 50px;
	border-radius: 10px;
	color: white
}

.subscribe-box-text-title {
	font-size: 20px;
	font-weight: bold;
}

.sign-up-2 {
	background-color: #3882f6;
	color: white;
	border: 1px solid white;
	width: 100px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}